.rotative-logo {
    height: 30vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .rotative-logo {
        animation: App-logo-spin infinite 10s linear;
    }
}

.logo {
    height: 1em;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
